jieba
wordcloud
matplotlib
gradio===4.43.0
python-dotenv
seaborn
Flask-SQLAlchemy
pandas
pymysql
chardet
gmplot
folium
scikit-learn
geopandas
selenium
webdriver_manager
fake-useragent
undetected_chromedriver